<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <!-- Sección de encabezado -->
    <header class="header">
        <div class="header__logo">
            <a href="index.html"><img src="assets/img/logo techstore sin fondo.png" alt="TechStore Logo" width="250" height="250"></a>
        </div>
        <div>
            <nav class="header__nav">
                <ul class="header__nav__list">
                    <li><a href="index.html" class="header__nav__link">Home</a></li>
                    <li><a href="productos.html" class="header__nav__link">Productos</a></li>
                    <li><a href="nosotros.html" class="header__nav__link">Nosotros</a></li>
                    <li><a href="contacto.html" class="header__nav__link">Contacto</a></li>
                    <li><a href="carrito.html" class="header__nav__link">Carrito</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>